html {  }
body{
	width: 99%;
	height: 100%;
	/*margin: 0px*/
	/*background-color: brown;*/
	background-image: url("backgroung3.jpg");
}
#gameArea{
	position: relative;
	margin-top: 60px;
	margin-left: 491px;
	width: 600px;
	height: 600px;
}
#gameArea table{
	width: 600px;
	height: 600px;
	border-collapse:collapse;
}
#gameArea table tr{
	width: 600px;
	height: 75px;
}
#gameArea table tr td{
	width: 75px;
	height: 75px%;
	background-color: white;
}
/* this div is a descendent of the div above */
/*#gameArea.child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
    background-image: url('replay.png');
    pointer-events: none;
} */
div h1{
	margin-left: 37%;
	/*background-color: "Black";*/
	color: white;
	opacity: .9;
	/*margin-right: auto;*/
}