html {  }
body{
	width: 99%;
	height: 100%;
	background-image: url("backgroung3.jpg");
}
#gameArea{
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 600px;
}
#gameArea table{
	width: 600px;
	height: 600px;
	border-collapse:collapse;
}
#gameArea table tr{
	width: 600px;
	height: 75px;
}
#gameArea table tr td{
	width: 75px;
	height: 75px%;
	background-color: white;
}
div h1{
	position: relative;
	color: white;
	opacity: .9;
	margin-right:0 auto;
}
#heading{
	margin-left: 0px;
	margin-right: 0px;
}